* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}


.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    /*position: absolute;*/
    left: 50%;
    top: 40%;
    /*transform: translate(-50%, -50%);*/
    z-index: 2;
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 0.8em;
    margin-left: 20%;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    display: flex;
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 0.1rem
   }

.inputfields {
    width:80%;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    float: right
}

.btn {
    display: inline-flex;
    padding: 1rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    /*float: right;*/
}
.modal button {
    margin-top: 20px;
}

.btn-submit {
    background-color: limegreen;
    color: black;
    float: right;
}

button:hover{
    color: #83edff;
}
.btn-back {
    float: left;
    margin-bottom: 31px;
    margin-left: 10px;
    /*border: 1px dotted #838e91;*/
    box-shadow: 0.3px 0.3px 0px #83edff;
}


h3 {
    color: #ffffff;
}

/*.dropdown {*/
/*    background-color: #ffffff;*/
/*    border-radius: 3px;*/
/*}*/
label{
    color: white;
}