<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
</head>
<body>
<div>
  <form action="/edit_password" method="post">
      <input id="editid" th:value="${user.getUserId()}" type="hidden" name="editid">
    <label for="updatepassword"> Change Password</label>
    <input id="updatepassword" th:value="${user.getUserPassword()}" type="password" name="updatepassword">
    <input type="submit" value="Save new password">
  </form>
</div>

</body>
</html>