<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/login.css}" href="../static/css/login.css">
</head>
<body>
<div class="login-box">
  <img th:src="@{../pictures/logologin.jpg}" src="../static/pictures/logologin.jpg" width="200px">

  <h1>Change User Role</h1><br>
  <form action="/edit_role" method="post">

    <input id="updateid" th:value="${user.getUserId()}" type="hidden" name="updateid">

    <div class="user-box">

      <input id="updatename" th:value="${user.getUserName()}" name="updatename">
      <label for="updatename">Change Name</label>
    </div>

    <div class="user-box">
      <label for="updaterole"></label>
      <select id="updaterole"  name="updaterole">
        <option th:value="${user.getRole()}">Change to...</option>
        <option value="CUSTOMER">CUSTOMER</option>
        <option value="ADMIN">ADMIN</option>
        <option value="PROJECT_MANAGER"> PROJECT_MANAGER</option>
        <option value="DEVELOPER">DEVELOPER</option>
        <option value="UNASSIGNED">UNASSIGNED</option>
      </select>
    </div>

    <div>
      <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
          <input type="submit" value="Submit changes">
      </a>
    </div>
  </form>
</div>
</body>
</html>