<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
    <link rel="stylesheet" th:href="@{../css/login.css}" href="../static/css/login.css">
</head>
<body>
<div class="login-box">
        <h1>Change Password</h1>
<br>
        <form action="/edit_password" method="post">

         <input id="editid" th:value="${user.getUserId()}" type="hidden" name="editid">

          <div class="user-box">
            <input id="updatepassword" th:value="${user.getUserPassword()}" type="password" name="updatepassword">
            <label for="updatepassword">Change Password</label>
          </div>

          <div>
          <a>
              <span></span>
              <span></span>
              <span></span>
            <input type="submit" value="Save new password">
          </a>
          </div>
        </form>
</div>

</body>
</html>