<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<!--    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">-->
    <link rel="stylesheet" th:href="@{../css/logintest.css}" href="../static/css/logintest.css">
</head>
<body>
<div class="login-box">
    <div th:switch="${session.loginStatus}">
        <h2 th:case="''">Login</h2>
        <h2 th:case="'fail'">Forkert brugernavn eller adgangskode</h2>
    </div>
    <form action="/login" method="post">
        <div class="user-box">
            <label for="access"></label>
            <select id="access" name="usertype" required >

                <option value="0"> Log in as...</option>

                <option value="PROJECT_MANAGER">Project Manager</option>
                <option value="ADMIN">Project Admin</option>
                <option value="DEVELOPER">Developer</option>
                <option value="CUSTOMER">CUSTOMER</option>
            </select>
        </div>
        <div class="user-box">
            <input id="user-id" type="text" name="username" required="">
            <label for="user-id">Email</label>
        </div>
        <div class="user-box">
            <input id="password" type="password" name="pwd" required="">
            <label for="password">Adgangskode</label>
        </div>
        <a>

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Login">
        </a>
        <a th:href="@{/create_user}">New User?</a>
    </form>

</div>

</body>
</html>