<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hallahalla</title>
  <link rel="stylesheet" href="../static/css/modal.css" th:href="@{../css/jacobtest.css}">

</head>
<body>
<section class="modal hidden">
  <div class="flex">
    <button class="btn-close">⨉</button>
  </div>
  <form action="/create_projects" class="form-container" method="post">
    <label for="projectname"><b>Project Name</b></label>
    <input id="projectname" type="text"  placeholder="Enter Project Name" name="projectName">
    <br>
    <label for="startdate"><b>Startdate</b></label>
    <input id="startdate" type="date" placeholder="Enter Start Date" name="startDate" required>
    <br>
    <label for="duedate"><b>Due Date</b></label>
    <input id="duedate" type="date" placeholder="Enter Due Date" name="dueDate" required>
    <br>
    <label for="projectmanager"><b>Project Manager</b></label>
    <input id="projectmanager" type="text"  placeholder="Enter Project Managers Name" name="projectManager" required>
    <br>
    <label for="customername"><b>Customer Name</b></label>
    <input id="customername" type="text"  placeholder="Enter Customer Name" name="customerName" required>

    <button type="submit" class="btn">Create Project</button>
  </form>
</section>
<div class="overlay hidden"></div>
<button class="btn btn-open">Open Modal</button>











<script>
const modal = document.querySelector(".modal");
const overlay = document.querySelector(".overlay");
const openModalBtn = document.querySelector(".btn-open");
const closeModalBtn = document.querySelector(".btn-close");

// close modal function
const closeModal = function () {
modal.classList.add("hidden");
overlay.classList.add("hidden");
};

// close the modal when the close button and overlay is clicked
closeModalBtn.addEventListener("click", closeModal);
overlay.addEventListener("click", closeModal);

// close modal when the Esc key is pressed
document.addEventListener("keydown", function (e) {
if (e.key === "Escape" && !modal.classList.contains("hidden")) {
closeModal();
}
});

// open modal function
const openModal = function () {
modal.classList.remove("hidden");
overlay.classList.remove("hidden");
};
// open modal event
openModalBtn.addEventListener("click", openModal);
</script>
</body>
</html>