<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProjectView</title>
    <link rel="stylesheet" th:href="@{../css/popup.css}" href="../static/css/popup.css">
    <link rel="stylesheet" th:href="@{../css/view.css}" href="../static/css/view.css">

</head>
<body>
<div class="grid-container">
    <div class="item1">
        <h1>processes</h1>
        <button onclick="history.back()">Go Back</button>
    </div>

    <div class="item2">

    </div>

    <div class="item3">
        <div>
            <h3>Current Project: <span th:text="${showProjectName}"></span></h3>
            <h3>Project Manager: <span th:text="${showProjectManager}"></span></h3>
        </div>

        <div class="view" th:each="proces:${processes}">
            <div>
                <h3>Process Info</h3><br>
                <span class="text1">Process Name: </span><span th:text="${proces.getProcessName()}"></span><br>
                <span class="text1">Exp Start Date: </span><span th:href="${proces.getExpectedStartDate()}"></span><br>
                <span class="text1">Exp Finish: </span><span th:href="${proces.getExpectedFinish()}"></span><br><br>

                <a th:href="@{'/taskview/'+${proces.getProcessId()}}"><h4>Show tasks</h4></a>
                <a th:href="@{'/processes/delete/'+${proces.getProcessId()}}"><h4>Delete process</h4></a>
                <a th:href="@{'/processes/updateprocess/'+${proces.getProcessId()}}"><h4>Update process</h4></a>
            </div>
        </div>
    </div>
</div>

<button  class="open-button" onclick="openForm()">Create new process</button>

<!-- The  Create form -->
<div class="form-popup " id="createproces">
    <form action="/createprocess" class="form-container" method="post">
        <h1>Create process</h1>

        <label for="processName"><b>Process name</b></label>
        <input id="processName" type="text" placeholder="Enter Process Name" name="processName" required>

        <label for="expectedStartDate"><b>Expected startdate</b></label>
        <input id="expectedStartDate" type="date" placeholder="Enter Start Date" name="expectedStartDate" required>

        <label for="expectedFinish"><b>Expected finish</b></label>
        <input id="expectedFinish" type="date" placeholder="Enter Finish Date" name="expectedFinish" required>

        <label for="startAfter"><b>Start after task</b></label>
        <input id="startAfter" type="text"  placeholder="Enter task id" name="startAfter">

        <button type="submit" class="btn">Create process</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<script>
    function openForm() {

        document.getElementById("createproces").style.display = "block";
    }

    function closeForm() {
        document.getElementById("createproces").style.display = "none";
    }
</script>
</body>
</html>