<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Process view</title>
    <script src="https://kit.fontawesome.com/7c3c034aee.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/modal1.css}" href="../static/css/modal1.css">
    <link rel="stylesheet" th:href="@{../css/grid1.css}" href="../static/css/grid1.css">
    <link rel="stylesheet" th:href="@{../css/view1.css}" href="../static/css/view1.css">


</head>
<body>
<div class="grid-container">
    <div class="item1">


        <ul class="logo">
            <li><img th:src="@{../pictures/logo1.jpg}" src="../static/pictures/logo1.jpg" width="200px"></li>
            <li><span class="brand-name" data-value="PROJECTBREAKDOWN">PROJECTBREAKDOWN</span></li>
        </ul>
        <!-- A button to go back to the previous page -->
        <li><button class="btn btn-back" onclick="history.back()">Go Back</button></li>
        <!-- A button to open the popup form -->
        <li><button class="btn btn-open">Create Process</button></li>


    </div>

    <div class="item2">
        <a th:href="@{'/project_manager/'+ ${session.PmID}}"><p class="headline">Projects</p></a>
    <ul class="list-group">
        <li th:each="project : ${projects}">
            <a th:href="@{'/processes/'+${project.getProjectId()}}" href="processes.html">
                <span th:text="${project.getProjectName()}"></span>
            </a>
        </li>
    </ul>
</div>

    <div class="item3">
        <div>
            <h3>Current Project: <span th:text="${showProjectName}"></span></h3>
            <h3>Project Manager: <span th:text="${showProjectManager}"></span></h3>
        </div>

        <div class="view" th:each="proces:${processes}">
            <div>
                <h3>Process Info</h3><br>
                <span class="text1">Process Name:&ensp;</span><span th:text="${proces.getProcessName()}"></span><br>
                <span class="text1">Exp Start Date:&ensp;</span><span th:text="${proces.getExpectedStartDate()}"></span><br>
                <span class="text1">Exp Finish:&ensp;</span><span th:text="${proces.getExpectedFinish()}"></span><br><br>
                <span class="text1">Total days:&ensp;</span><span th:text="${proces.getProcessDays()}"></span><br><br>
                <span class="text1">Workdays:&ensp;</span><span th:text="${proces.getProcessWorkdays()}"></span><br><br>

                <a th:href="@{'/taskview/'+${proces.getProcessId()}}" href="taskview.html"><h4>Show tasks</h4></a>
<!--                <a th:href="@{'/processes/delete/'+${proces.getProcessId()}}"><h4>Delete process</h4></a>-->
<!--                <a th:href="@{'/processes/updateprocess/'+${proces.getProcessId()}}"><h4>Update proces</h4></a>     /processes     /processes       -->


                <a class="hovertext" data-hover="Update Process" th:href="@{'/updateprocess/'+${proces.getProcessId()}}" href="updateprocess.html">
                    <img th:src="@{../pictures/editblack.png}" src="../static/pictures/editblack.png" width="20px">
                </a>
                <a class="hovertext" data-hover="Delete Process" th:href="@{'/processes/delete/'+${proces.getProcessId()}}" href=>
                    <img th:src="@{../pictures/trashblack.png}" src="../static/pictures/trashblack.png" width="20px">
                </a>
            </div>
        </div>
    </div>
<div class="footer">
    <a class="github" href="https://linktr.ee/devtool" target=”_blank”>
        <img class="github" src="../static/pictures/github-mark.png"
             th:src="@{../pictures/github-mark.png}" width="50px">
    </a>
</div>
</div>

<section class="modal hidden">
    <div class="flex">
        <button class="btn-close">⨉</button>
    </div>
    <form action="/createprocess" class="form-container" method="post">

        <label for="processName"><b>Process name</b></label>
        <input id="processName" type="text" placeholder="Enter Process Name" name="processName" required>

        <label for="expectedStartDate"><b>Expected startdate</b></label>
        <input id="expectedStartDate" type="date" placeholder="Enter Start Date" name="expectedStartDate" required>

        <label for="expectedFinish"><b>Expected finish</b></label>
        <input id="expectedFinish" type="date" placeholder="Enter Finish Date" name="expectedFinish" required>

        <label for="startAfter"><b>Start after task</b></label>
        <select class="inputfields" id="startAfter" type="text" name="startAfter" >
            <option value="-1">Start with project</option>
            <option th:each="tasknumber:${projectTasks}"><span th:text="${'Start after task number: '+tasknumber.getTaskId()}" > </span></option>
        </select><br><br>

        <button type="submit" class="btn btn-submit">Create Project</button>
    </form>
</section>
<div class="overlay hidden"></div>

<script>
    const modal = document.querySelector(".modal");
    const overlay = document.querySelector(".overlay");
    const openModalBtn = document.querySelector(".btn-open");
    const closeModalBtn = document.querySelector(".btn-close");

    // close modal function
    const closeModal = function () {
        modal.classList.add("hidden");
        overlay.classList.add("hidden");
    };

    // close the modal when the close button and overlay is clicked
    closeModalBtn.addEventListener("click", closeModal);
    overlay.addEventListener("click", closeModal);

    // close modal when the Esc key is pressed
    document.addEventListener("keydown", function (e) {
        if (e.key === "Escape" && !modal.classList.contains("hidden")) {
            closeModal();
        }
    });

    // open modal function
    const openModal = function () {
        modal.classList.remove("hidden");
        overlay.classList.remove("hidden");
    };
    // open modal event
    openModalBtn.addEventListener("click", openModal);

    //titel-hacking'ish
    const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

    let interval = null;

    document.querySelector("span").onmouseover = event => {
        let iteration = 0;

        clearInterval(interval);

        interval = setInterval(() => {
            event.target.innerText = event.target.innerText
                .split("")
                .map((letter, index) => {
                    if(index < iteration) {
                        return event.target.dataset.value[index];
                    }

                    return letters[Math.floor(Math.random() * 26)]
                })
                .join("");

            if(iteration >= event.target.dataset.value.length){
                clearInterval(interval);
            }

            iteration += 1 / 3;
        }, 30);
    }
</script>
</body>
</html>