<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProjectView</title>
    <link rel="stylesheet" th:href="@{../static/css/jacobtest.css}" href="../static/css/jacobtest.css">

</head>
<body>
<div class="projectview">
    <div class="processes" th:each="proces:${processes}">
        <div class="proces">
            <span th:text="${proces.getProcessName()+' starts: '+proces.getExpectedStartDate()+' finishes: '+proces.getExpectedFinish()}"></span>

        </div>

    </div>
</div>
<button  class="open-button" onclick="openForm()">Create new process</button>

<!-- The  Create form -->
<div class="form-popup modal" id="myForm">
    <form action="/createprocess" class="form-container" method="post">
        <h1>Create process</h1>

        <label for="processname"><b>Process name</b></label>
        <input id="processname" type="text" placeholder="Enter Process Name" name="processName" required>

        <label for="startdate"><b>Expected startdate</b></label>
        <input id="startdate" type="date" placeholder="Enter Start Date" name="startDate" required>

        <label for="duedate"><b>Expected finish</b></label>
        <input id="duedate" type="date" placeholder="Enter Finish Date" name="finishDate" required>

        <label for="startAfterTask"><b>Start after task</b></label>
        <input id="startAfterTask" type="text"  placeholder="Enter task name/id" name="startAfterTask" required>

        <button type="submit" class="btn">Create process</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<script>
    function openForm() {

        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
</body>
</html>