<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../css/jacobtest.css}" href="../static/css/jacobtest.css">
    <link rel="stylesheet" th:href="@{../css/view.css}" href="../static/css/view.css">
<!--    <link rel="stylesheet" th:href="@{../css/popup.css}" href="../static/css/popup.css">-->
<!--  <link rel="stylesheet" th:href="@{../css/style.css}">-->

</head>
<body>
<div class="grid-container">
    <div class="item1">
        <h1>Projects</h1>
        <button onclick="history.back()">Go Back</button>
        <button class="btn btn-open">Open Modal</button>

    </div>

    <div class="item2">

    </div>

    <div class="item3">
        <div class="view" th:each="project:${projects}">

            <div>
                <span th:text="${'Project Name: '+project.getProjectName()}"> </span><br>
                <span th:text="${'Project Manager: '+project.getProjectManager()}"> Project Manager </span><br>
                <span th:text="${'Customer: '+project.getCustomerName()}"> Customer </span><br>
                <span th:text="${'Start Date: '+project.getStartDate()}"> Start Date </span><br>
                <span th:text="${'Delivery Date ' +project.getDueDate()}"> Delivery Date </span><br>
                <span th:text="${'Total days ' +project.getProjectDays()}"> Total days </span><br>
                <span th:text="${'Workdays ' +project.getProjectWorkdays()}"> Total days </span><br>

                <a th:href="@{'/updateproject/'+${project.getProjectId()}}"><h4>Update Project</h4></a>
                <a th:href="@{'/processes/'+${project.getProjectId()}}"><h4>Show processes</h4></a>
                <a th:href="@{'project/delete/'+${project.getProjectId()}}"><h4>Delete project</h4></a>
            </div>
        </div>
    </div>



</div>

<section class="modal hidden">
    <div class="flex">
        <button class="btn-close">⨉</button>
    </div>
    <form action="/create_projects" class="form-container" method="post">
        <label for="projectname"><b>Project Name</b></label>
        <input id="projectname" type="text"  placeholder="Enter Project Name" name="projectName">
        <br>
        <label for="startdate"><b>Startdate</b></label>
        <input id="startdate" type="date" placeholder="Enter Start Date" name="startDate" required>
        <br>
        <label for="duedate"><b>Due Date</b></label>
        <input id="duedate" type="date" placeholder="Enter Due Date" name="dueDate" required>
        <br>
        <label for="projectmanager"><b>Project Manager</b></label>
        <input id="projectmanager" type="text"  placeholder="Enter Project Managers Name" name="projectManager" required>
        <br>
        <label for="customername"><b>Customer Name</b></label>
        <input id="customername" type="text"  placeholder="Enter Customer Name" name="customerName" required>

        <button type="submit" class="btn">Create Project</button>
    </form>
</section>
<div class="overlay hidden"></div>












<script>
    const modal = document.querySelector(".modal");
    const overlay = document.querySelector(".overlay");
    const openModalBtn = document.querySelector(".btn-open");
    const closeModalBtn = document.querySelector(".btn-close");

    // close modal function
    const closeModal = function () {
        modal.classList.add("hidden");
        overlay.classList.add("hidden");
    };

    // close the modal when the close button and overlay is clicked
    closeModalBtn.addEventListener("click", closeModal);
    overlay.addEventListener("click", closeModal);

    // close modal when the Esc key is pressed
    document.addEventListener("keydown", function (e) {
        if (e.key === "Escape" && !modal.classList.contains("hidden")) {
            closeModal();
        }
    });

    // open modal function
    const openModal = function () {
        modal.classList.remove("hidden");
        overlay.classList.remove("hidden");
    };
    // open modal event
    openModalBtn.addEventListener("click", openModal);
</script>
</body>
</html>