<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task view</title>
  <link rel="stylesheet" th:href="@{../css/popup.css}" href="../static/css/popup.css">
  <link rel="stylesheet" th:href="@{../css/taskview.css}" href="../static/css/taskview.css">
</head>
<body>
<div>
  <h1>Project Tasks</h1>
  <br>
</div>

<div class="grid-container">
  <div class="item1">
  </div>

  <div class="item2">

  </div>

  <div class="item3">
    <div  class="view" th:each="task : ${taskView}">
      <div>
        <span>Task id </span><span th:text="${task.taskId}"></span><br>
        <span>Process id </span><span th:text="${task.processId}"></span><br>
        <span>Task name </span><span th:text="${task.taskName}"></span><br>
        <span>Effort </span><span th:text="${task.effort}"></span><br>
        <span>Exp start date</span><span th:text="${task.expectedStartDate}"></span><br>
        <span>Allocation </span><span th:text="${task.minAllocation}"></span><br>
        <span>Status </span><span th:text="${task.taskStatus}"></span><br>
        <span>Assigned to </span><span th:text="${task.assignedId}"></span><br>
        <span>Task no. </span><span th:text="${task.taskSequenceNumber}"></span><br>


        <a th:href="@{'/updatetask/' + ${task.taskId}}" href="/updatetask.html">Update Task</a><br>
        <a th:href="@{'/deletetask/' + ${task.taskId}}" href="/deletetask.html">Delete Task</a>

      </div>
    </div>
  </div>
</div>

<!-- A button to open the popup form -->
<button class="open-button" onclick="openForm()">Create New Task</button>

<!-- The  Create form -->
<div class="form-popup" id="myFormCreate">
  <form action="/createTasks" class="form-container" method="post">

    <label for="taskName-create"><b>Task Name</b></label>
    <input id="taskName-create" type="text" placeholder="Enter Task Name" name="TaskName" required>

    <label for="effort-create"><b>Effort</b></label>
    <input id="effort-create" type="text" placeholder="Enter effort" name="Effort" required>

    <label for="expectedStartDate-create"><b>Expected Start Date</b></label>
    <input id="expectedStartDate-create" type="date" placeholder="Enter Expected Start Date" name="ExpectedStartDate" required>

    <label for="minAllocation-create"><b>Minimum Allocation</b></label>
    <input id="minAllocation-create" type="text" placeholder="Enter Minimum Allocation" name="MinAllocation" required>

    <label for="taskStatus-create"><b>Task status</b></label>
    <input id="taskStatus-create" type="text" placeholder="Enter Task Status" name="TaskStatus" required>

    <label for="assignedId-create"><b>Assigned ID</b></label>
    <input id="assignedId-create" type="text" placeholder="Enter Assignment ID" name="AssignedId" required>

    <label for="taskSequenceNumber-create"><b>Task Sequence Number</b></label>
    <input id="taskSequenceNumber-create" type="text" placeholder="Enter Task Sequence Number" name="TaskSequenceNumber" required>

    <button type="submit" class="btn">Create Task</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
  function openForm() {
    document.getElementById("myFormCreate").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myFormCreate").style.display = "none";
  }
</script>
</body>
</html>






