<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task view</title>
<!--  <link rel="stylesheet" th:href="@{../css/grid.css}" href="../static/css/grid.css">-->
<!--  <link rel="stylesheet" th:href="@{../css/view.css}" href="../static/css/view.css">-->

  <link rel="stylesheet" th:href="@{../css/lottetest.css}" href="../static/css/lottetest.css">
<!--  <link rel="stylesheet" th:href="@{../css/modal.css}" href="../static/css/modal.css">-->
</head>
<body >


<div class="grid-container">
  <div class="item1">
    <div class="logo">
    <img th:src="@{../pictures/logo1.jpg}" src="../static/pictures/logo1.jpg" width="200px">
    <span class="brand-name" data-value="PROJECTBREAKDOWN">PROJECTBREAKDOWN</span>
    </div>
    <br>
    <button class="btn btn-back" onclick="history.back()">Go Back</button>
    <!-- A button to open the popup form -->
    <button class="btn btn-open">Create Task</button>
  </div>


  <div class="item2">
<!--    <div class="navside">-->
<!--      <div class="navside-header">-->
        <a th:href="@{'/project_manager/'+ ${session.PmID}}"><p class="headline">Projects</p></a>
<!--      </div>-->
      <ul class="list-group" >
        <li th:each="project : ${projectsByPmId}">
          <a th:href="@{'/processes/'+${project.getProjectId()}}" href="processes.html">
            <span th:text="${project.getProjectName()}"></span>
          </a>
        </li>
      </ul>
<!--    </div>-->
  </div>


  <div class="item3">
    <div>
      <h3>Current Project: <span th:text="${showProjectName}"></span></h3>
      <h3>Project Manager: <span th:text="${showProjectManager}"></span></h3>

    </div>
    <div  class="view" th:each="task : ${taskView}">
      <div>
        <h4>Task info</h4>
        <span class="text1">Task id:&ensp;</span><span th:text="${task.taskId}"></span><br>
        <span class="text1">Process id:&ensp;</span><span th:text="${task.processId}"></span><br>
        <span class="text1">Task name:&ensp;</span><span th:text="${task.taskName}"></span><br>
        <span class="text1">Effort:&ensp;</span><span th:text="${task.effort}"></span><br>
        <span class="text1">Exp start date:&ensp;</span><span th:text="${task.expectedStartDate}"></span><br>
        <span class="text1">Allocation:&ensp;</span><span th:text="${task.minAllocation}"></span><br>
        <span class="text1">Workdays needed:&ensp;</span><span th:text="${task.taskDaysNeeded()}"></span><br>
        <span class="text1">Status:&ensp;</span><span th:text="${task.taskStatus}"></span><br>
        <span class="text1">Assigned to:&ensp;</span><span th:text="${task.assignedname}"></span><br>
        <span class="text1">Task no.:&ensp;</span><span th:text="${task.taskDependencyNumber}"></span><br><br>

        <a class="hovertext" data-hover="Update Task" th:href="@{'/updatetask/' + ${task.taskId}}" href="/updatetask.html">
          <img th:src="@{../pictures/editblack.png}" src="../static/pictures/editblack.png" width="20px">
        </a>

        <a class="hovertext" data-hover="Delete Task" th:href="@{'/deletetask/' + ${task.taskId}}" href="/deletetask.html">
          <img th:src="@{../pictures/trashblack.png}" src="../static/pictures/trashblack.png" width="20px">
        </a>

      </div>
    </div>
  </div>
</div>
<div class="footer">
  <a class="github" href="https://linktr.ee/devtool"target=”_blank”>
    <img class="github" src="../static/pictures/github-mark.png"
         th:src="@{../pictures/github-mark.png}" width="50px">
  </a>
</div>


<section class="modal hidden">
  <div class="flex">
    <button class="btn-close">⨉</button>
  </div>
<!-- The  Create form -->
  <form action="/createTasks" class="form-container" method="post">

    <label for="taskName-create"><b>Task Name</b></label>
    <input id="taskName-create" type="text" placeholder="Enter Task Name" name="TaskName" required>

    <label for="effort-create"><b>Effort</b></label>
    <input id="effort-create" type="text" placeholder="Enter effort" name="Effort" required>

    <label for="expectedStartDate-create"><b>Expected Start Date</b></label>
    <input id="expectedStartDate-create" type="date" placeholder="Enter Expected Start Date" name="ExpectedStartDate" required>

    <label for="minAllocation-create"><b>Minimum Allocation</b></label>
    <input id="minAllocation-create" type="text" placeholder="Enter Minimum Allocation" name="MinAllocation" required>

    <label for="taskStatus-create"><b>Task status</b></label>
    <input id="taskStatus-create" type="text" placeholder="Enter Task Status" name="TaskStatus" required>

    <label for="assignedId-create"><b>Assigned ID</b></label>
    <input id="assignedId-create" type="text" placeholder="Enter Assignment ID" name="AssignedId" required>

    <label for="taskDependencyNumber-create"><b>Task Sequence Number</b></label>
    <input id="taskDependencyNumber-create" type="text" placeholder="Enter Task Sequence Number" name="TaskSequenceNumber" required>

    <button type="submit" class="btn btn-submit">Create Task</button>

  </form>
</section>
<div class="overlay hidden"></div>


<script>
  const modal = document.querySelector(".modal");
  const overlay = document.querySelector(".overlay");
  const openModalBtn = document.querySelector(".btn-open");
  const closeModalBtn = document.querySelector(".btn-close");

  // close modal function
  const closeModal = function () {
    modal.classList.add("hidden");
    overlay.classList.add("hidden");
  };

  // close the modal when the close button and overlay is clicked
  closeModalBtn.addEventListener("click", closeModal);
  overlay.addEventListener("click", closeModal);

  // close modal when the Esc key is pressed
  document.addEventListener("keydown", function (e) {
    if (e.key === "Escape" && !modal.classList.contains("hidden")) {
      closeModal();
    }
  });

  // open modal function
  const openModal = function () {
    modal.classList.remove("hidden");
    overlay.classList.remove("hidden");
  };
  // open modal event
  openModalBtn.addEventListener("click", openModal);

  //titel-hacking'ish
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

  let interval = null;

  document.querySelector("span").onmouseover = event => {
    let iteration = 0;

    clearInterval(interval);

    interval = setInterval(() => {
      event.target.innerText = event.target.innerText
              .split("")
              .map((letter, index) => {
                if(index < iteration) {
                  return event.target.dataset.value[index];
                }

                return letters[Math.floor(Math.random() * 26)]
              })
              .join("");

      if(iteration >= event.target.dataset.value.length){
        clearInterval(interval);
      }

      iteration += 1 / 3;
    }, 30);
  }
</script>

</body>
</html>






