<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>



    <link rel="stylesheet" th:href="@{../css/grid.css}" href="../static/css/grid.css">
    <link rel="stylesheet" th:href="@{../css/update.css}" href="../static/css/update.css">

</head>
<body>

<div class="grid-container">
    <div class="item1">
        <h1>Update Task</h1>
        <button onclick="history.back()">Go Back</button>
    </div>
    <div class="item2">


    </div>

    <div class="item3">
<!-- The  update form -->
        <section class="modal">
            <div>
                <button class="btn-close">⨉</button>
            </div>

            <form action="/updateTask" method="post">
                    <div>

                        <label for="taskName-update"><b>Task Name</b></label>
                        <input class="inputfields" id="taskName-update" type="text" placeholder="Enter Task Name" name="TaskName" th:value="${taskUpdate.taskName}"><br>

                        <label for="effort-update"><b>Effort</b></label>
                        <input class="inputfields" id="effort-update" type="text" placeholder="Enter effort" name="Effort" th:value="${taskUpdate.effort}"><br>

                        <label for="expectedStartDate-update" th:value="${'Exp Start Date: '+ taskUpdate.expectedStartDate}"> <b> Exp Start Date: </b></label>
                        <input class="inputfields" id="expectedStartDate-update" type="hidden" placeholder="Enter Expected Start Date" name="ExpectedStartDate" th:value="${taskUpdate.expectedStartDate}"><br>

                        <label for="minAllocation-update"><b>Allocation</b></label>
                        <input class="inputfields" id="minAllocation-update" type="text" placeholder="Enter Minimum Allocation" name="MinAllocation" th:value="${taskUpdate.minAllocation}"><br>

                        <label for="taskStatus-update"><b>Task Status</b></label>
                            <select id="taskStatus-update" type="text" name="TaskStatus" >
                                <option th:each=" state :${TaskStates}"> <span th:text="${state}"></span></option>
                            </select><br>

                        <label for="assignedId-update"><b>Assigned id</b></label>
                        <input class="inputfields" id="assignedId-update" type="text" placeholder="Enter Assignment name" name="Assignedname" th:value="${taskUpdate.assignedname}"><br>

                        <label for="developerId-update"><b>Developer ID</b></label>
                        <input class="inputfields" id="developerId-update" type="text" placeholder="Enter Developer ID" name="developerId" th:value="${taskUpdate.developerId}"><br>

                        <label for="taskSequenceNumber-update"><b>Task Dependency</b></label>
                        <input class="inputfields" id="taskSequenceNumber-update" type="text" placeholder="Enter Task Sequence Number" name="taskDependencyNumber" th:value="${taskUpdate.taskDependencyNumber}"><br>

                        <input type="submit" class="btn btn-submit" value="Update Task">


                        <input id="taskId-update" type="hidden" name="TaskId" th:value="${taskUpdate.taskId}">
                        <input id="processId-update" type="hidden" name="ProcessId" th:value="${taskUpdate.processId}">
                        <input id="projectId-update" type="hidden" name="ProjectId" th:value="${taskUpdate.projectId}">
                    </div>
            </form>
        </section>
    </div>

</div>


</body>
</html>