<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Process</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{../css/grid1.css}" href="../static/css/grid1.css">
  <link rel="stylesheet" th:href="@{../css/update.css}" href="../static/css/update.css">


</head>
<body>
<div class="grid-container">
    <div class="item1">
        <ul class="logo">
            <li><img th:src="@{../pictures/logo1.jpg}" src="../static/pictures/logo1.jpg" width="200px"></li>
            <li><span class="brand-name" data-value="PROJECTBREAKDOWN">PROJECTBREAKDOWN</span></li>
        </ul>
        <li><button class="btn btn-back" onclick="history.back()">Go Back</button></li>



    </div>

  <div class="item2">


  </div>

  <div class="item3">
    <!-- The  update form -->
    <section class="modal">


      <form action="/updateprocess" class="formupdate "method="post">


            <h3>Update Process</h3>
            <label for="updatename"><b>Process Name</b></label>
            <input class="inputfields" id="updatename" type="text" placeholder="Enter Process Name" th:value="${processUpdate.getProcessName()}" name="processName" >

            <label for="expectedStartDate"><b>Start Date</b></label>
            <input class="inputfields" id="expectedStartDate" type="date" placeholder="Enter Start Date" th:value="${processUpdate.getExpectedStartDate()}" name="expectedStartDate" >

            <label for="expectedFinish"><b>Finish Date</b></label>
            <input class="inputfields" id="expectedFinish" type="hidden" placeholder="Enter Finish Date" th:value="${processUpdate.getExpectedFinish()}" name="expectedFinish" >

            <label for="startAfterTask"><b>Start After Task</b></label>
            <select class="inputfields" id="startAfterTask" type="text" name="startAfterTask" >
                 <option value="-1">Start with project</option>
                <option th:each="tasknumber:${projectTasks}"><span th:text="${'Start after task number: '+tasknumber.getTaskId()}" > </span></option>
            </select><br>

            <input id="processID" th:value="${processUpdate.getProcessId()}" name="processId" type="hidden">
            <input id="projectID" th:value="${processUpdate.getProjectId()}" name="projectId" type="hidden">
            <input id="projectId-update" type="hidden" name="ProjectId" th:value="${processUpdate.projectId}">
            <input type="submit" class="btn btn-submit" value="Save Changes">

      </form>
  </section>
    </div>

</div>


<script>
    //titel-hacking'ish
    const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

    let interval = null;

    document.querySelector("span").onmouseover = event => {
        let iteration = 0;

        clearInterval(interval);

        interval = setInterval(() => {
            event.target.innerText = event.target.innerText
                .split("")
                .map((letter, index) => {
                    if(index < iteration) {
                        return event.target.dataset.value[index];
                    }

                    return letters[Math.floor(Math.random() * 26)]
                })
                .join("");

            if(iteration >= event.target.dataset.value.length){
                clearInterval(interval);
            }

            iteration += 1 / 3;
        }, 30);
    }
</script>
</body>
</html>