<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
    <link rel="stylesheet" th:href="@{../css/grid.css}" href="../static/css/grid.css">
    <link rel="stylesheet" th:href="@{../css/update.css}" href="../static/css/update.css">

</head>
<body>
<div class="grid-container">
    <div class="item1">
        <h1>Update Project</h1>
        <button onclick="history.back()">Go Back</button>
    </div>

    <div class="item2">
    </div>

    <div class="item3">
        <!-- The  update form -->
        <section class="modal">
            <div>
                <button class="btn-close">⨉</button>
            </div>

                <form action="/updateproject" class="formupdate" method="post">

                    <input id="projectID" th:value="${project.getProjectId()}" name="projectID" type="hidden">


                        <label for="updatename"><b>Project Name</b></label>
                        <input class="inputfields" id="updatename" type="text" placeholder="Enter Project Name" th:value="${project.getProjectName()}" name="projectName" >

                        <label for="newstartdate"><b>Startdate</b></label>
                        <input class="inputfields" id="newstartdate" type="date" placeholder="Enter Start Date" th:value="${project.getStartDate()}" name="startDate" >

                        <label for="newduedate"><b>Due Date</b></label>
                        <input class="inputfields" id="newduedate" type="date" placeholder="Enter Due Date" th:value="${project.getDueDate()}" name="dueDate" >

                        <label for="newexpectedenddate"><b>Delivery Date</b></label>
                        <input class="inputfields" id="newexpectedenddate" type="date" placeholder="Enter expected delivery Date" th:value="${project.getExpectedEndDate()}" name="expectedEnddate" >

                        <label for="newprojectmanager"><b>Project Manager</b></label>
                        <input class="inputfields" id="newprojectmanager" type="text" placeholder="Enter Project Managers Name"  th:value="${project.getProjectManager()}" name="projectManager" >

                        <label for="newcustomername"><b>Customer Name</b></label>
                        <input class="inputfields" id="newcustomername" type="text" placeholder="Enter Customer Name" name="customerName" th:value="${project.getCustomerName()}" ><br>


                        <label for="newstate"><b>Project Status</b></label>
                        <Select id="newstate" type="text" name="newstate">
                            <option th:each="state :${States}"> <span th:text="${state}"></span> </option>
                        </Select><br>


                        <input type="submit" class="btn btn-submit" value="Save Changes">


                </form>
        </section>
    </div>

</div>
</body>
</html>