<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/grid1.css}" href="../static/css/grid1.css">
    <link rel="stylesheet" th:href="@{../css/update.css}" href="../static/css/update.css">

</head>
<body>
<div class="grid-container">
    <div class="item1">
        <ul class="logo">
            <li><img th:src="@{../pictures/logo1.jpg}" src="../static/pictures/logo1.jpg" width="200px"></li>
            <li><span class="brand-name" data-value="PROJECTBREAKDOWN">PROJECTBREAKDOWN</span></li>
        </ul>
        <li><button class="btn btn-back" onclick="history.back()">Go Back</button></li>



    </div>

    <div class="item2">

    </div>

    <div class="item3">

        <!-- The  update form -->
        <section class="modal">


                <form action="/updateproject" class="formupdate" method="post">


                        <h3>Update Project</h3>

                        <label for="updatename"><b>Project Name</b></label>
                        <input class="inputfields" id="updatename" type="text" placeholder="Enter Project Name" th:value="${project.getProjectName()}" name="projectName" >

                        <label for="newstartdate"><b>Startdate</b></label>
                        <input class="inputfields" id="newstartdate" type="date" placeholder="Enter Start Date" th:value="${project.getStartDate()}" name="startDate" >

                        <label for="newduedate"><b>Due Date</b></label>
                        <input class="inputfields" id="newduedate" type="date" placeholder="Enter Due Date" th:value="${project.getDueDate()}" name="dueDate" >

                        <label for="newexpectedenddate"><b>Delivery Date</b></label>
                        <input class="inputfields" id="newexpectedenddate" type="date" placeholder="Enter expected delivery Date" th:value="${project.getExpectedEndDate()}" name="expectedEnddate" >

                        <label for="newprojectmanager"><b>Project Manager</b></label>
                        <input class="inputfields" id="newprojectmanager" type="text" placeholder="Enter Project Managers Name"  th:value="${project.getProjectManager()}" name="projectManager" >

                        <label for="newcustomername"><b>Customer Name</b></label>
                        <input class="inputfields" id="newcustomername" type="text" placeholder="Enter Customer Name" name="customerName" th:value="${project.getCustomerName()}" ><br>


                        <label class="dropdown" for="newstate"><b>Project Status</b></label>
                        <Select id="newstate" type="text" name="newstate">
                            <option th:each="state :${States}"> <span th:text="${state}"></span> </option>
                        </Select><br>

                        <input id="projectID" th:value="${project.getProjectId()}" name="projectID" type="hidden">

                        <input type="submit" class="btn btn-submit" value="Save Changes">


                </form>
        </section>
    </div>

</div>


<script>
    //titel-hacking'ish
    const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

    let interval = null;

    document.querySelector("span").onmouseover = event => {
        let iteration = 0;

        clearInterval(interval);

        interval = setInterval(() => {
            event.target.innerText = event.target.innerText
                .split("")
                .map((letter, index) => {
                    if(index < iteration) {
                        return event.target.dataset.value[index];
                    }

                    return letters[Math.floor(Math.random() * 26)]
                })
                .join("");

            if(iteration >= event.target.dataset.value.length){
                clearInterval(interval);
            }

            iteration += 1 / 3;
        }, 30);
    }
</script>

</body>
</html>