<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Process</title>
  <link rel="stylesheet" th:href="@{../css/update.css}" href="../static/css/update.css">


</head>
<body>
<div class="grid-container">
  <div class="item1">
    <h1>Update Process</h1>
    <button onclick="history.back()">Go Back</button>
  </div>

  <div class="item2">


  </div>
  <!-- The  update form -->
  <div class="container">
    <div class="demo-flex-spacer">

      <form action="/updateprocess" method="post">
        <div>
          <div class="style-input">
            <label for="updatename"><b>Process Name</b></label>
            <input id="updatename" type="text" placeholder="Enter Process Name" th:value="${processUpdate.getProcessName()}" name="processName" >
          </div>

          <div class="style-input">
            <label for="expectedStartDate"><b>Start Date</b></label>
            <input id="expectedStartDate" type="date" placeholder="Enter Start Date" th:value="${processUpdate.getExpectedStartDate()}" name="expectedStartDate" >
          </div>

          <div class="style-input">
            <label for="expectedFinish"><b>Finish Date</b></label>
            <input id="expectedFinish" type="date" placeholder="Enter Finish Date" th:value="${processUpdate.getExpectedFinish()}" name="expectedFinish" >
          </div>

          <div class="style-input">
            <label for="startAfterTask"><b>Start After Task</b></label>
            <input id="startAfterTask" type="text" placeholder="Enter Start After Task" th:value="${processUpdate.getStartAfterTask()}" name="startAfterTask" >
          </div>

          <div class="style-input">
            <input type="submit" class="btn" value="Save Changes">
          </div>


            <input id="processID" th:value="${processUpdate.getProcessId()}" name="processId" type="hidden">
            <input id="projectID" th:value="${processUpdate.getProjectId()}" name="projectId" type="hidden">
            <input id="projectId-update" type="hidden" name="ProjectId" th:value="${taskUpdate.projectId}">
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>